/* ==========================================================================
   Author's custom styles - seu.nome@planb.com.br
   ========================================================================== */

// imports
@import "font";
@import "normalize";


// variables
$main-color:#292929;
$secondary-color: #ed2240;
$link-color:#1c3e4f;
$main-font:'ClanOT-Bold';
$general-font:'ClanOT-Book';
$main-size: 14px;
$footer-color: #ebebeb; 

//styles
*{
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5{
  text-transform: uppercase;
  font-weight: normal;
}
a{
	color: $secondary-color;
	text-decoration: underline;
	outline: none;
	&:hover{
		color:#fe4343;
	}
}
.upper{
  text-transform: uppercase;
}
body,html{
  min-width: 960px;
}
.wrapper {
  display: block;
  margin: 0 auto;
  overflow: hidden; 
  width: 960px;
  position: relative;
}
header{
	background:#dfdfdf;
	display: block;
	height: 85px;
	padding: 10px 0 0 0;
	position: fixed;
	width: 100%;
	z-index: 500;
}
.header-container{
	background: #fff;
	border-top: #cccccc 1px solid;
	height: 82px;
	.wrapper{
		overflow: visible; 
	}
}
header .logos{
	display: block;;
	float: left;
	width: 210px;
}
header .logos li,
nav ul li{
	list-style: none;
}
header .logos li a{
	background: url(../imgs/sprite-logos-topo.jpg) no-repeat;
	display: block;
	float: left;
	height: 76px;
	text-indent: -999999px;
	width: 62px;
}
header .logos li.logo-unai a{
	background-position: -82px 0;
	margin-left: 17px;
	width: 32px;
}
header .logos li.logo-iesb a{
	background-position: -142px 0;
	margin-left: 28px;
	width: 68px;
}

nav{
	display: block;
	float: left;
	margin-left: 16px;
	padding: 37px 0 0 0;
	width:597px;
}


nav ul li a,
nav ul li a span{
	font-family: $general-font;
	font-size:12px ;
	text-transform: uppercase;
	text-decoration: none;
}
nav ul li a{
	float: left;
	color: $main-color;
	margin-right: 17px;
	padding-bottom: 24px;
}
nav ul li:last-child a{
	margin-right: 0;
}
nav ul li a span{
	font-family: $main-font;
}
nav ul li a:hover,
nav ul li.current a{
	border-bottom: $secondary-color 6px solid;
	color: $secondary-color;
}
nav ul li a:hover span,
nav ul li a.ativo span{
	color: $secondary-color;	
}
.redes-sociais{
	display: block;
	float: left;
	margin-left: 17px;
	position: relative;
	width: 60px;
}
.redes-sociais a.btn-redes-sociais{
	background: url(../imgs/sprite-logos-topo.jpg) no-repeat -285px 0;
	display: block;;
	height: 82px;
	text-indent: -999999px;
	width: 60px;

}
.redes-sociais a.btn-redes-sociais.ativo{
	background-position: -220px 0;
}
.redes-sociais ul{
	background: #fe4343;
	bottom: -65px;
	display: none;
	height: 27px;
	padding:18px 22px ;
	position: absolute;
	right: 0;
	width:214px ;
	z-index: 200;
}
.redes-sociais ul li{
	list-style: none;
}
.redes-sociais ul li a{
	background: url(../imgs/sprite-redes-sociais-topo.png) no-repeat 0 0;
	display: block;
	float: left;
	height: 27px;
	text-indent: -999999px;
	width: 13px;
}
.redes-sociais ul li.rs-twitter a{
	background-position: -50px 0;
	margin-left: 34px;
	width: 16px;
}
.redes-sociais ul li.rs-youtube a{
	background-position: -94px 0;
	margin-left: 28px;
	width: 27px;
}
.redes-sociais ul li.rs-googleplus a{
	background-position: -147px 0;
	margin-left: 28px;
	width: 22px;
}
.redes-sociais ul li.rs-linkedin a{
	background-position: -192px 0;
	margin-left: 23px;
	width: 22px;
}
.redes-sociais ul li a:hover{
	background-position: 0 -28px;
}
.redes-sociais ul li.rs-twitter a:hover{
	background-position: -50px -28px;
}
.redes-sociais ul li.rs-youtube a:hover{
	background-position: -94px -28px;
}
.redes-sociais ul li.rs-googleplus a:hover{
	background-position: -147px -28px;
}
.redes-sociais ul li.rs-linkedin a:hover{
	background-position: -192px -28px;
}
.language{
  display: block;
  float: right;
  padding: 10px 0 0 0;
  width: 49px;
}
.language a{
  background: url(../imgs/sprite-bandeiras.png) no-repeat 0 0;
	display: block;
  height: 28px;
  margin-bottom: 9px;
  text-indent: -999999px;
  width: 49px;
	
}
.language a.bandeira-en{
  background-position:-56px -37px; 
}

.language a.bandeira-pt.ativo{
  background-position:-57px 0; 
}
.language a.bandeira-en:hover,
.language a.bandeira-en.ativo{
  background-position: 1px -37px;  
}



#destaque{
	background: #e3213d;
	height: 441px;
  color: #FFF;
	.banner{
    height: 441px;
    background: url('../imgs/banner1.jpg') no-repeat scroll center center;
    position: relative;
    overflow: hidden;
    &.banner-2{
      background: url('../imgs/banner2.jpg') no-repeat scroll center center;
    }
    &.banner-3{
      background: url('../imgs/banner3.jpg') no-repeat scroll center center;
    }
    &.banner-4{
      background: url('../imgs/banner4.jpg') no-repeat scroll center center;
    }
	}
  #navInscricao li{
      list-style: none;
    }
  .content{
    width: 820px;
    margin: 0 auto;
    margin-top: 80px;
  }
  h1{
    font-family: 'ClanOT-Black';
    font-size: 40px;
    font-style: italic;
    margin: 10px 0;
    span{
      font-family: 'ClanOT-Medium';
      font-size: 30px;
    }
  }
  h2{
    font-family: 'ClanOT-Bold';
    font-size: 17px;
    text-transform: none;
    font-style: italic;
  }
  h3{
    font-family: 'ClanOT-Book';
    font-size: 15px;
    font-style: italic;
  }
  .inscreva{
    background: url('../imgs/inscreva-banner.png') no-repeat scroll top left;
    margin-top: 20px;
    width: 172px;
    height: (106px/2);
    display: inline-block;
    text-indent: -9999px;
    &:hover{
      background-position: 0 (-106px/2);
    }
  }
	padding-top: 95px;
	width: 100%;
}

#subdestaque{
	background: #d2d2d2;
	height: 72px;

	img{
		float: left;
	}
	p{
		font-family: $main-font;
		font-size: 14px;
		font-weight: normal;
		font-style: italic;
		float: left;
		padding: 20px 0 0 14px;
		width: 670px;
		span{
			font-family: $general-font;
			font-size: 11px;
			font-weight: normal;
			font-style: italic;
		}
	}
	a{
		background: url(../imgs/bg-btn-boas-vindas.png) no-repeat 172px 2px;
		color: $secondary-color;
		float: right;
		font-family: 'ClanOT-Black';
		font-size: 12px;
		height: 19px;
		margin-top: 27px;
		padding:5px 21px 0 0;
		text-decoration: none;
		text-transform: uppercase;
		&:hover{
			background-position: 172px -21px;
			color:#fe4343;
		}
	}
	.container-inline{
		display: none;
	}
}
#boas-vindas{
	background: #fff;
	padding: 20px;
	h2{
		font-family: $main-font;
	}
	p{
		font-family: $general-font;
		font-size: 13px;
		line-height: 18px;
		padding: 10px 0;
	}
}
#sobre{
	padding: 34px 0 0 0;
	h1{
		font-family: $general-font; 
		font-style: italic;
		font-size: 72px;
		margin: 69px 0 39px 0;
		text-align: center;
		span{
			font-family: 'ClanOT-Black';
		}
	}
	.subtitle{
		font-family: $main-font;
		font-size: 16px;
		margin-bottom: 78px;
		text-align: center;
	}
	h2{
		font-family: $general-font; 
		font-style: italic;
		font-size: 36px;
		padding: 0 0 0 201px;
		span{
			font-family: 'ClanOT-Black';
		}
	}
	img{
		margin-right: 14px;
	}
	.bloco-conteudo{
		display: block;
		float: right;
		width: 757px;
		p,
		ul li{
			
			color: $main-color;
			display: block;
			font-family: 'ClanOT-News';
			font-size: 12px;
			line-height: 20px;
			list-style: inside !important;
			padding: 15px 0;
		}
		ul li{
			background: url(../imgs/bg-ico-lista.jpg) no-repeat 0 11px;
			padding: 3px 0 0 15px;
		}
	}
}

#palestrantes{
	padding-top: 63px;
  position: relative;
  ul{
    position: absolute;
    right: 0;
    display: block;
    width: 328px;
    top: 44px;
    z-index: 100;
  li{
    list-style: none;
    a{
      background: url(../imgs/sprite-abas-programacao.png) no-repeat;
      color: #7c7c7c;
      display:block;
      height: 48px;
      float: left;
      font-family: 'ClanOT-News';
      font-size: 12px;
      margin-right: 3px;
      outline: none;
      padding-top: 13px;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      width: 161px;
    }
  }
  li.ui-tabs-active a,
  li a:hover{
      background-position: -163px 0;
      color: #fff;
      font-family: 'ClanOT-Black';
    }
  }
  .box{
    width: 293px;
    float: left;
    height: 500px;
    margin-right: 31px;
    &.no-margin{
      margin-right: 0;
    }
    &.min-height{
      height: 565px;
    }
    &.min-height02{
      height: 737px;
    }
    &.min-height03{
      height: 708px;
    }    
  }
  h1{
    font-family: 'ClanOT-Book';
    font-style: italic;
    font-size: 56px;
    margin-left: -6px;
    span{
      font-family: 'ClanOT-Black';
    }
  }
  h2{
    font-family: 'ClanOT-Bold';
    font-size: 16px;
    color: #ed2240;
    margin-top: 20px;
    text-transform: none;
  }
  p{
    font-family: 'ClanOT-News';
    font-size: 12px;
    line-height: 21px;
    margin-top: 18px;
    width: 260px;
  }
}

#inscricao{
  text-align: center;
  height: 766px;
  h1{
    font-family: 'ClanOT-Bold';
    font-size: 90px;
    font-style: italic;
    margin-top: 80px;
    margin-bottom: 0;
  }
  h2{
    font-family: 'ClanOT-Bold';
    text-transform: none;
    font-size: 18px;
    margin-top: 20px;
  }
  p{
    margin-top: 20px;
    line-height: 20px;
    font-family: 'ClanOT-News';
    font-size: 12px;
    padding: 0 15px;
  }
  .btn {
    background: url('../imgs/download-inscricao.png') no-repeat scroll top left;
    width: 459px;
    height: (156px/2);
    display: block;
    margin: 0 auto;
    text-indent: -9999px;
    margin-top: 50px;
    margin-bottom: 2px;
    &:hover{
      background-position: 0 (-156px/2);
    }
  }
  span{
    font-family: 'ClanOT-Bold';
    text-transform: none;
    font-size: 11px;
    font-style: italic;
  }
}

#programacao {
	padding-top: 102px;
  color: #ffffff;
  .wrapper-programacao {
    background: #292929;
    display: block;;
    position: relative;
    padding: 4px 46px 51px 46px;
    margin: 0 auto;
    width:868px;
  }
  h2 {
    font-family: 'ClanOT-Black';
    font-size: 60px;
    font-style: italic;
    margin-top: 34px;
  }
  h3{
    font-family: 'ClanOT-Bold';
    text-transform: none;
    font-size: 18px;
    margin-top: 14px;
  }
  h4{
    font-family: 'ClanOT-Bold';
    text-transform: none;
    font-size: 14px;
    margin-top: 14px;
  }
  p{
    margin-top: 20px;
    line-height: 20px;
    font-family: 'ClanOT-News';
    font-size: 12px;
    width: 600px;
  }
  #abas{
    margin-top: 29px;
    p{
      margin: 0;
      padding-bottom: 28px;
    }
    ul li{
      list-style: none;
      a{
        background: url(../imgs/sprite-abas-programacao.png) no-repeat;
        color: #7c7c7c;
        display:block;
        height: 48px;
        float: left;
        font-family: 'ClanOT-News';
        font-size: 12px;
        margin-right: 3px;
        outline: none;
        padding-top: 13px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        width: 161px;
      }
      
    }
    ul li.ui-tabs-active a,
    ul li a:hover{
        background-position: -163px 0;
        color: #fff;
        font-family: 'ClanOT-Black';
      }
   .conteudo-programacao{
      display: none;
      width: 100%;
    } 
    .conteudo-programacao.ativo{
      display: block;
    }
  }
  .download{
    background: #ed2240;
    height: 170px;
    position: absolute;
    right: -29px;
    width: 230px;
    h3 {
      margin: 18px 28px;
      font-family: 'ClanOT-Thin';
      font-size: 22px;
    }
    .btn {
      background: url('../imgs/download-pdf.png') no-repeat scroll top left;
      width: 182px;
      height: (70px/2);
      display: block;
      text-indent: -9999px;
      margin: 0 auto;
      &:hover{
        background-position: 0 (-70px/2);
      }
    }
  }
  .texto-default p{

  }
  .bg-black {
    width: 960px;
    height: 1368px;
    background: #292929;
    position: absolute;
    left: 50%;
    margin-left: -(1020px/2);
    z-index: -1;
  }
}

#localizacao {
  color: #fff;
  height: 291px;
  .wrapper{
    background: $secondary-color;
  }
  #map-canvas{
    width: 600px;
    height: 291px;
    float: right;
  }
  h2{
    font-family: 'ClanOT-Black';
    font-size: 24px;
  }
  .icon,.text{
    float: left;
  }
  .icon {
    padding-left: 30px;
    margin: 35px 2px;
  }
  .text {
    font-family: 'ClanOT-News';
    font-size: 13px;
    margin: 37px;
    p{
      padding: 18px 0;
      line-height: 22px;
    }
  }
}

footer{
  background: #292929;
  overflow: hidden;
  padding: 20px 0;
  border-top: 2px solid #ffffff;
  .logo-footer{
    float: left;
  }
  .social{
    float: right;
    line-height: 52px;
    .icon{
      display: inline-block;
      text-indent: -9999px;
      vertical-align: middle;
      background: url('../imgs/icons-social-footer.png') no-repeat scroll top left;
      width: (147px/5);
      height: (36px/2);
    }
    .facebook {
      background-position: 0 0;
      &:hover{
        background-position: 0 (-(36px/2));
      }
    }
    .twitter {
      background-position: -(147px/5) 0;
      &:hover{
        background-position: -(147px/5) (-(36px/2));
      }
    }
    .youtube {
      background-position: -(147px/5)*2 0;
      &:hover{
        background-position: -(147px/5)*2 (-(36px/2));
      }
    } 
    .plus {
      background-position: -(147px/5)*3 0;
      &:hover{
        background-position: -(147px/5)*3 (-(36px/2));
      }
    }
    .linkedin {
      background-position: -(147px/5)*4 0;
      &:hover{
        background-position: -(147px/5)*4 (-(36px/2));
      }
    }
    
  }
}