@font-face {
  font-family: 'ClanOT-Book';
  src: url('../fonts/ClanOT-Book.eot'); /* IE9 Compat Modes */
  src: url('../fonts/ClanOT-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ClanOT-Book.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ClanOT-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ClanOT-Book.svg#f811d8eabc6f39da14435c09b1df2c41') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'ClanOT-Thin';
  src: url('../fonts/ClanOT-Thin.eot'); /* IE9 Compat Modes */
  src: url('../fonts/ClanOT-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ClanOT-Thin.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ClanOT-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ClanOT-Thin.svg#76d236243bf8a0dfeaeee89b5de408ed') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'ClanOT-Bold';
  src: url('../fonts/ClanOT-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/ClanOT-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ClanOT-Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ClanOT-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ClanOT-Bold.svg#9587c075ea392935cd2b3bb47f7af202') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'ClanOT-Medium';
  src: url('../fonts/ClanOT-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/ClanOT-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ClanOT-Medium.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ClanOT-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ClanOT-Medium.svg#5e628436df99f21ba7107f085b8d3c95') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'ClanOT-Black';
  src: url('../fonts/ClanOT-Black.eot'); /* IE9 Compat Modes */
  src: url('../fonts/ClanOT-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ClanOT-Black.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ClanOT-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ClanOT-Black.svg#f734605abddc588cd44b4ce6e5a2f72a') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'ClanOT-News';
  src: url('../fonts/ClanOT-News.eot'); /* IE9 Compat Modes */
  src: url('../fonts/ClanOT-News.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ClanOT-News.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ClanOT-News.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ClanOT-News.svg#1ae345f64e2ee47776b4a8bc2d6e9841') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

