/* ==========================================================================
   Author's custom styles - seu.nome@planb.com.br
   ========================================================================== */
@font-face {
  font-family: 'ClanOT-Book';
  src: url("../fonts/ClanOT-Book.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/ClanOT-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/ClanOT-Book.woff") format("woff"), url("../fonts/ClanOT-Book.ttf") format("truetype"), url("../fonts/ClanOT-Book.svg#f811d8eabc6f39da14435c09b1df2c41") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'ClanOT-Thin';
  src: url("../fonts/ClanOT-Thin.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/ClanOT-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/ClanOT-Thin.woff") format("woff"), url("../fonts/ClanOT-Thin.ttf") format("truetype"), url("../fonts/ClanOT-Thin.svg#76d236243bf8a0dfeaeee89b5de408ed") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 200; }

@font-face {
  font-family: 'ClanOT-Bold';
  src: url("../fonts/ClanOT-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/ClanOT-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ClanOT-Bold.woff") format("woff"), url("../fonts/ClanOT-Bold.ttf") format("truetype"), url("../fonts/ClanOT-Bold.svg#9587c075ea392935cd2b3bb47f7af202") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: 'ClanOT-Medium';
  src: url("../fonts/ClanOT-Medium.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/ClanOT-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/ClanOT-Medium.woff") format("woff"), url("../fonts/ClanOT-Medium.ttf") format("truetype"), url("../fonts/ClanOT-Medium.svg#5e628436df99f21ba7107f085b8d3c95") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'ClanOT-Black';
  src: url("../fonts/ClanOT-Black.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/ClanOT-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/ClanOT-Black.woff") format("woff"), url("../fonts/ClanOT-Black.ttf") format("truetype"), url("../fonts/ClanOT-Black.svg#f734605abddc588cd44b4ce6e5a2f72a") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'ClanOT-News';
  src: url("../fonts/ClanOT-News.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/ClanOT-News.eot?#iefix") format("embedded-opentype"), url("../fonts/ClanOT-News.woff") format("woff"), url("../fonts/ClanOT-News.ttf") format("truetype"), url("../fonts/ClanOT-News.svg#1ae345f64e2ee47776b4a8bc2d6e9841") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400; }

/* normalize.css v2.1.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5 {
  text-transform: uppercase;
  font-weight: normal; }

a {
  color: #ed2240;
  text-decoration: underline;
  outline: none; }
  a:hover {
    color: #fe4343; }

.upper {
  text-transform: uppercase; }

body, html {
  min-width: 960px; }

.wrapper {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  width: 960px;
  position: relative; }

header {
  background: #dfdfdf;
  display: block;
  height: 85px;
  padding: 10px 0 0 0;
  position: fixed;
  width: 100%;
  z-index: 500; }

.header-container {
  background: #fff;
  border-top: #cccccc 1px solid;
  height: 82px; }
  .header-container .wrapper {
    overflow: visible; }

header .logos {
  display: block;
  float: left;
  width: 210px; }

header .logos li,
nav ul li {
  list-style: none; }

header .logos li a {
  background: url(../imgs/sprite-logos-topo.jpg) no-repeat;
  display: block;
  float: left;
  height: 76px;
  text-indent: -999999px;
  width: 62px; }

header .logos li.logo-unai a {
  background-position: -82px 0;
  margin-left: 17px;
  width: 32px; }

header .logos li.logo-iesb a {
  background-position: -142px 0;
  margin-left: 28px;
  width: 68px; }

nav {
  display: block;
  float: left;
  margin-left: 16px;
  padding: 37px 0 0 0;
  width: 590px; }

nav ul li a,
nav ul li a span {
  font-family: "ClanOT-Book";
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none; }

nav ul li a {
  float: left;
  color: #292929;
  margin-right: 17px;
  padding-bottom: 24px; }

nav ul li:last-child a {
  margin-right: 0; }

nav ul li a span {
  font-family: "ClanOT-Bold"; }

nav ul li a:hover,
nav ul li.current a {
  border-bottom: #ed2240 6px solid;
  color: #ed2240; }

nav ul li a:hover span,
nav ul li a.ativo span {
  color: #ed2240; }

.redes-sociais {
  display: block;
  float: left;
  margin-left: 17px;
  position: relative;
  width: 60px; }

.redes-sociais a.btn-redes-sociais {
  background: url(../imgs/sprite-logos-topo.jpg) no-repeat -285px 0;
  display: block;
  height: 82px;
  text-indent: -999999px;
  width: 60px; }

.redes-sociais a.btn-redes-sociais.ativo {
  background-position: -220px 0; }

.redes-sociais ul {
  background: #fe4343;
  bottom: -65px;
  display: none;
  height: 27px;
  padding: 18px 22px;
  position: absolute;
  right: 0;
  width: 214px;
  z-index: 200; }

.redes-sociais ul li {
  list-style: none; }

.redes-sociais ul li a {
  background: url(../imgs/sprite-redes-sociais-topo.png) no-repeat 0 0;
  display: block;
  float: left;
  height: 27px;
  text-indent: -999999px;
  width: 13px; }

.redes-sociais ul li.rs-twitter a {
  background-position: -50px 0;
  margin-left: 34px;
  width: 16px; }

.redes-sociais ul li.rs-youtube a {
  background-position: -94px 0;
  margin-left: 28px;
  width: 27px; }

.redes-sociais ul li.rs-googleplus a {
  background-position: -147px 0;
  margin-left: 28px;
  width: 22px; }

.redes-sociais ul li.rs-linkedin a {
  background-position: -192px 0;
  margin-left: 23px;
  width: 22px; }

.redes-sociais ul li a:hover {
  background-position: 0 -28px; }

.redes-sociais ul li.rs-twitter a:hover {
  background-position: -50px -28px; }

.redes-sociais ul li.rs-youtube a:hover {
  background-position: -94px -28px; }

.redes-sociais ul li.rs-googleplus a:hover {
  background-position: -147px -28px; }

.redes-sociais ul li.rs-linkedin a:hover {
  background-position: -192px -28px; }

.language {
  display: block;
  float: right;
  padding: 10px 0 0 0;
  width: 49px; }

.language a {
  background: url(../imgs/sprite-bandeiras.png) no-repeat 0 0;
  display: block;
  height: 28px;
  margin-bottom: 9px;
  text-indent: -999999px;
  width: 49px; }

.language a.bandeira-en {
  background-position: -56px -37px; }

.language a.bandeira-pt.ativo,
.language a.bandeira-pt:hover {
  background-position: -57px 0; }

.language a.bandeira-en:hover,
.language a.bandeira-en.ativo {
  background-position: 1px -37px; }

#destaque {
  background: #e3213d;
  height: 441px;
  color: #FFF;
  padding-top: 95px;
  width: 100%; }
  #destaque .banner {
    height: 441px;
    background: url("../imgs/banner1.jpg") no-repeat scroll center center;
    position: relative;
    overflow: hidden; }
    #destaque .banner.banner-2 {
      background: url("../imgs/banner2.jpg") no-repeat scroll center center; }
    #destaque .banner.banner-3 {
      background: url("../imgs/banner3.jpg") no-repeat scroll center center; }
    #destaque .banner.banner-4 {
      background: url("../imgs/banner4.jpg") no-repeat scroll center center; }
    #destaque .banner ul li {
      list-style: none; }
  #destaque .content {
    width: 820px;
    margin: 0 auto;
    margin-top: 80px; }
  #destaque h1 {
    font-family: 'ClanOT-Black';
    font-size: 40px;
    font-style: italic;
    margin: 10px 0; }
    #destaque h1 span {
      font-family: 'ClanOT-Medium';
      font-size: 30px; }
  #destaque h2 {
    font-family: 'ClanOT-Bold';
    font-size: 17px;
    text-transform: none;
    font-style: italic; }
  #destaque h3 {
    font-family: 'ClanOT-Book';
    font-size: 15px;
    font-style: italic; }
  #destaque .inscreva {
    background: url("../imgs/inscreva-banner.png") no-repeat scroll top left;
    margin-top: 20px;
    width: 172px;
    height: 53px;
    display: inline-block;
    text-indent: -9999px; }
    #destaque .inscreva:hover {
      background-position: 0 -53px; }

#subdestaque {
  background: #d2d2d2;
  height: 72px; }
  #subdestaque img {
    float: left; }
  #subdestaque p {
    font-family: "ClanOT-Bold";
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
    float: left;
    padding: 20px 0 0 14px;
    width: 670px; }
    #subdestaque p span {
      font-family: "ClanOT-Book";
      font-size: 11px;
      font-weight: normal;
      font-style: italic; }
  #subdestaque a {
    background: url(../imgs/bg-btn-boas-vindas.png) no-repeat 145px 2px;
    color: #ed2240;
    float: right;
    font-family: 'ClanOT-Black';
    font-size: 12px;
    height: 19px;
    margin-top: 27px;
    padding: 5px 21px 0 0;
    text-decoration: none;
    text-transform: uppercase; }
    #subdestaque a:hover {
      background-position: 145px -21px;
      color: #fe4343; }
  #subdestaque .container-inline {
    display: none; }

#boas-vindas {
  background: #fff;
  padding: 20px; }
  #boas-vindas h2 {
    font-family: "ClanOT-Bold"; }
  #boas-vindas p {
    font-family: "ClanOT-Book";
    font-size: 13px;
    line-height: 18px;
    padding: 10px 0; }

#sobre {
  padding: 34px 0 0 0; }
  #sobre h1 {
    font-family: "ClanOT-Book";
    font-style: italic;
    font-size: 72px;
    margin: 69px 0 39px 0;
    text-align: center; }
    #sobre h1 span {
      font-family: 'ClanOT-Black'; }
  #sobre .subtitle {
    font-family: "ClanOT-Bold";
    font-size: 16px;
    margin-bottom: 78px;
    text-align: center; }
  #sobre h2 {
    font-family: "ClanOT-Book";
    font-style: italic;
    font-size: 36px;
    padding: 0 0 0 201px; }
    #sobre h2 span {
      font-family: 'ClanOT-Black'; }
  #sobre img {
    margin-right: 14px; }
  #sobre .bloco-conteudo {
    display: block;
    float: right;
    width: 757px; }
    #sobre .bloco-conteudo p,
    #sobre .bloco-conteudo ul li {
      color: #292929;
      display: block;
      font-family: 'ClanOT-News';
      font-size: 12px;
      line-height: 20px;
      list-style: inside !important;
      padding: 15px 0; }
    #sobre .bloco-conteudo ul li {
      background: url(../imgs/bg-ico-lista.jpg) no-repeat 0 11px;
      padding: 3px 0 0 15px; }

#palestrantes {
  padding-top: 63px;
  position: relative; }
  #palestrantes ul {
    position: absolute;
    right: -16px;
    display: block;
    width: 328px;
    top: 44px;
    z-index: 100; }
    #palestrantes ul li {
      list-style: none; }
      #palestrantes ul li a {
        background: url(../imgs/sprite-abas-programacao.png) no-repeat;
        color: #7c7c7c;
        display: block;
        height: 48px;
        float: left;
        font-family: 'ClanOT-News';
        font-size: 12px;
        margin-right: 3px;
        outline: none;
        padding-top: 13px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        width: 161px; }
    #palestrantes ul li.ui-tabs-active a,
    #palestrantes ul li a:hover {
      background-position: -163px 0;
      color: #fff;
      font-family: 'ClanOT-Black'; }
  #palestrantes .box {
    width: 293px;
    float: left;
    height: 500px;
    margin-right: 31px; }
    #palestrantes .box.no-margin {
      margin-right: 0; }
    #palestrantes .box.min-height {
      height: 597px; }
    #palestrantes .box.min-height02 {
      height: 799px; }
    #palestrantes .box.min-height03 {
      height: 782px; }
  #palestrantes h1 {
    font-family: 'ClanOT-Book';
    font-style: italic;
    font-size: 56px;
    margin-left: -6px; }
    #palestrantes h1 span {
      font-family: 'ClanOT-Black'; }
  #palestrantes h2 {
    font-family: 'ClanOT-Bold';
    font-size: 16px;
    color: #ed2240;
    margin-top: 20px;
    text-transform: none; }
  #palestrantes p {
    font-family: 'ClanOT-News';
    font-size: 12px;
    line-height: 21px;
    margin-top: 18px;
    width: 260px; }

#inscricao {
  text-align: center;
  height: 766px; }
  #inscricao h1 {
    font-family: 'ClanOT-Bold';
    font-size: 90px;
    font-style: italic;
    margin-top: 80px;
    margin-bottom: 0; }
  #inscricao h2 {
    font-family: 'ClanOT-Bold';
    text-transform: none;
    font-size: 18px;
    margin-top: 20px; }
  #inscricao p {
    margin-top: 20px;
    line-height: 20px;
    font-family: 'ClanOT-News';
    font-size: 12px;
    padding: 0 15px; }
  #inscricao .btn {
    background: url("../imgs/download-inscricao.png") no-repeat scroll top left;
    width: 459px;
    height: 78px;
    display: block;
    margin: 0 auto;
    text-indent: -9999px;
    margin-top: 50px;
    margin-bottom: 2px; }
    #inscricao .btn:hover {
      background-position: 0 -78px; }
  #inscricao span {
    font-family: 'ClanOT-Bold';
    text-transform: none;
    font-size: 11px;
    font-style: italic; }

#programacao {
  padding-top: 102px;
  color: #ffffff; }
  #programacao .wrapper-programacao {
    background: #292929;
    display: block;
    position: relative;
    padding: 4px 46px 51px 46px;
    margin: 0 auto;
    width: 868px; }
  #programacao h2 {
    font-family: 'ClanOT-Black';
    font-size: 60px;
    font-style: italic;
    margin-top: 34px; }
  #programacao h3 {
    font-family: 'ClanOT-Bold';
    text-transform: none;
    font-size: 18px;
    margin-top: 14px; }
  #programacao h4 {
    font-family: 'ClanOT-Bold';
    text-transform: none;
    font-size: 14px;
    margin-top: 14px; }
  #programacao p {
    margin-top: 20px;
    line-height: 20px;
    font-family: 'ClanOT-News';
    font-size: 12px;
    width: 600px; }
  #programacao #abas {
    margin-top: 29px; }
    #programacao #abas p {
      margin: 0;
      padding-bottom: 28px; }
    #programacao #abas ul li {
      list-style: none; }
      #programacao #abas ul li a {
        background: url(../imgs/sprite-abas-programacao.png) no-repeat;
        color: #7c7c7c;
        display: block;
        height: 48px;
        float: left;
        font-family: 'ClanOT-News';
        font-size: 12px;
        margin-right: 3px;
        outline: none;
        padding-top: 13px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        width: 161px; }
    #programacao #abas ul li.ui-tabs-active a,
    #programacao #abas ul li a:hover {
      background-position: -163px 0;
      color: #fff;
      font-family: 'ClanOT-Black'; }
    #programacao #abas .conteudo-programacao {
      display: none;
      width: 100%; }
    #programacao #abas .conteudo-programacao.ativo {
      display: block; }
  #programacao .download {
    background: #ed2240;
    height: 170px;
    position: absolute;
    right: -29px;
    width: 230px; }
    #programacao .download h3 {
      margin: 18px 28px;
      font-family: 'ClanOT-Thin';
      font-size: 16px; }
    #programacao .download .btn {
      background: url("../imgs/download-pdf.png") no-repeat scroll top left;
      width: 182px;
      height: 35px;
      display: block;
      text-indent: -9999px;
      margin: 0 auto; }
      #programacao .download .btn:hover {
        background-position: 0 -35px; }
  #programacao .bg-black {
    width: 960px;
    height: 310px;
    background: #292929;
    position: absolute;
    left: 50%;
    margin-left: -510px;
    z-index: -1; }

#localizacao {
  color: #fff;
  height: 291px; }
  #localizacao .wrapper {
    background: #ed2240; }
  #localizacao #map-canvas {
    width: 600px;
    height: 291px;
    float: right; }
  #localizacao h2 {
    font-family: 'ClanOT-Black';
    font-size: 24px; }
  #localizacao .icon, #localizacao .text {
    float: left; }
  #localizacao .icon {
    padding-left: 30px;
    margin: 35px 2px; }
  #localizacao .text {
    font-family: 'ClanOT-News';
    font-size: 13px;
    margin: 37px; }
    #localizacao .text p {
      padding: 18px 0;
      line-height: 22px; }

footer {
  background: #292929;
  overflow: hidden;
  padding: 20px 0;
  border-top: 2px solid #ffffff; }
  footer .logo-footer {
    float: left; }
  footer .social {
    float: right;
    line-height: 52px; }
    footer .social .icon {
      display: inline-block;
      text-indent: -9999px;
      vertical-align: middle;
      background: url("../imgs/icons-social-footer.png") no-repeat scroll top left;
      width: 29.4px;
      height: 18px; }
    footer .social .facebook {
      background-position: 0 0; }
      footer .social .facebook:hover {
        background-position: 0 -18px; }
    footer .social .twitter {
      background-position: -29.4px 0; }
      footer .social .twitter:hover {
        background-position: -29.4px -18px; }
    footer .social .youtube {
      background-position: -58.8px 0; }
      footer .social .youtube:hover {
        background-position: -58.8px -18px; }
    footer .social .plus {
      background-position: -88.2px 0; }
      footer .social .plus:hover {
        background-position: -88.2px -18px; }
    footer .social .linkedin {
      background-position: -117.6px 0; }
      footer .social .linkedin:hover {
        background-position: -117.6px -18px; }
